* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(185, 75%, 39%);
}

.age,
h3 {
	color: hsl(227, 10%, 46%);
}

.card {
	background-color: #ffffff;
	width: 400px;
	border-radius: 20px;
	margin: 25px;
}

.card-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
}

.card-header * {
	align-self: center;
}

.card-pattern {
	width: 100%;
	border-radius: 20px 20px 0 0;
	position: absolute;
	top: 0;
}

.profile-img {
	border-radius: 50%;
	border: 5px solid white;
	margin-top: 25%;
	z-index: 1;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
