@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(185, 75%, 39%);
	font-family: "Kumbh Sans", sans-serif;
	position: relative;
}

.top,
.bottom {
	position: absolute;
	width: 800px;
	/* width: 200px; */
	z-index: 0;
}

.top {
	top: 0;
	left: 0;
	margin: -250px;
}

.bottom {
	bottom: 0;
	right: 0;
	margin: -100px 0 -400px 0;
}

h1 {
	padding: 5px;
	margin: 10px;
}

.age,
h3 {
	color: hsl(227, 10%, 46%);
	padding-top: 10px;
}

.card {
	background-color: #ffffff;
	width: 400px;
	height: 470px;
	border-radius: 20px;
	z-index: 1;

	position: fixed;
	left: calc(50vw - 200px);
	top: calc(50vh - 235px);
}

.card-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
	padding: 10%;
}

.card-header * {
	align-self: center;
}

.card-pattern {
	width: 100%;
	border-radius: 20px 20px 0 0;
	position: absolute;
	top: 0;
}

.profile-img {
	border-radius: 50%;
	border: 5px solid white;
	margin-top: 20%;
	z-index: 1;
}

.card-footer {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: 5%;
}

li {
	text-align: center;
}

.attribution {
	font-size: 11px;
	position: fixed;
	left: calc(50vw - 140px);
	top: calc(50vh + 240px);
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
